@import "tailwindcss";

:root {
  --background: #e5e7eb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  font-weight: 350;
}

#dimensions-container {
  position: fixed;
  top: 20px; 
  left: 0;
  z-index: 100; /* Ensure the tabs stay on top */
  width: 180px;
  height: 56px;
}

.dimension-tab {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -4px;
  border-radius: 4px;
  margin-bottom: 8px; /* Vertical spacing */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Shadow */
  width: 170px;
}

.dimension-text {
  font-size: 0.95rem;
  line-height: 1.4rem;
  font-family: "Roboto Mono";
  font-weight: 350;
  text-align: right;
}

.countdown-timer {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 4.5rem;
}

@media (max-width: 1600px) {
  .countdown-timer {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .countdown-timer {
    font-size: 2rem;
    letter-spacing: 1px;
  }
}