@import "tailwindcss";

:root {
  --background: #FAF9F6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAF9F6;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 350;
}

#dimensions-container {
  position: fixed;
  top: 20px; 
  left: 0;
  z-index: 100; /* Ensure the tabs stay on top */
  width: 200px;
  height: 112px;
}

.dimension-tab {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -4px;
  border-radius: 4px;
  margin-bottom: 8px; /* Vertical spacing */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Shadow */
  width: 200px;
}

.dimension-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Roboto Mono";
  font-weight: 350;
  text-align: right;
}

.ff-main-container {
  @apply 2xl:flex-row xl:flex-col lg:flex-col md:flex-col sm:flex-col flex-col;
  @apply p-8;
  @apply gap-8;
}

.left-panel {
  @apply 2xl:flex-col xl:flex-row lg:flex-col md:flex-col sm:flex-col flex-col;
  @apply 2xl:w-[50%] xl:w-full lg:w-full md:w-full sm:w-full w-full;
  @apply 2xl:h-full xl:h-[65%] h-auto;
}

.right-panel {
  @apply 2xl:flex-col xl:flex-row lg:flex-col md:flex-col sm:flex-col flex-col;
  @apply 2xl:w-[50%] xl:w-full lg:w-full md:w-full sm:w-full w-full;
  @apply 2xl:h-full xl:h-[20%] h-auto;
}

.control-buttons {
  @apply flex 2xl:flex-col xl:flex-row lg:flex-col md:flex-col sm:flex-col flex-col;
  @apply 2xl:w-[60%] xl:w-[95%] lg:w-[95%] md:w-[95%] sm:w-[95%] w-[95%];
  @apply 2xl:space-y-4 2xl:space-x-0 xl:space-y-0 xl:space-x-4 lg:space-y-4 md:space-y-4 sm:space-y-4 space-y-4;
  @apply m-8;
}

.kr-buttons { 
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.countdown-timer {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 7rem;
}

@media (min-width: 1600px) {
  .countdown-timer {
    font-size: 3.5rem;
  }

  .kr-buttons {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 1440px) {
  .kr-buttons {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 1280px) {
  .kr-buttons {
    font-size: 1.125rem;
    line-height: 1.125rem;
  }
}

@media (max-width: 768px) {
  .kr-buttons {
    font-size: 1rem;
    line-height: 1rem;
  }
}